* {
  margin: 0;
  padding: 0; 
  font-size: 18px;
  font-family: 'Heebo', sans-serif;
}

.camera {
  width: 65px;
  height: 65px;
  background: url("./images/camera.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 4%;
  left: 5%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.product__container {
  display: grid;
  background: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  text-align: center;
}

.item__container {
  background: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1700px; 
  position: relative;
}

.img__container {
  display: grid;
  width: 60%;
  margin: 0 auto;
  grid-template-columns: 14fr 1fr 1fr;
}

.img {
  background: url("./images/product.png");
  background-size: cover;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  margin-top: 50%;
}

.ocean__img {
  background: url("./images/cream3.png");
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 50%;
}

.ice {
  background: url("./images/ice.jpg");
  background-size: cover;
  width: 200px;
  height: 150px;
  margin: 0 auto;
  margin-top: 30%;
  border: 10px;
}

.product {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.l {
  margin-top: -45px;
}

.r {
  margin-bottom: -160px;
}

.product p {
  font-size: 12px;
  margin-top: 40%;
  font-weight: bold;
}

.summary {
  width: 70%;
  margin: 10% auto;
  text-align: center;
  border-radius: 2%;
  padding: 5%;
  /* border: 1px solid #8888; */
  box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 -3em 3em rgba(0,0,0,0.1),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  border-top: 0px;
}

.summary h3 {
  margin-top: 3%;
  margin-bottom: 3%;
}

.summary2 {
  /* margin: 10% auto; */
}

.summary2 p {
  color: #232323;
  font-size: 14px;
}

.summary3 {
  width: 80%;
  margin: 0 auto;
}

.summary3 p {
  margin-top: 2%;
  font-size: 10px;
}

.summary5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.summary5 div {
  width: 60%;
  margin: 0 auto;
}

.summary5 p {
  font-size: 10px;
  padding: 5px;

}


.border {
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #6D6D6D;
}

.ocean {
  height: 290px;
}

.summary__ocean p {
  font-size: 10px;
  margin-top: 10px;
}

.product__info {
  background-color: #F8F8F8;
  width: 90%;
  margin: 0 auto;
  border-radius: 8%;
  margin-top: 50%;
}

.purchase__container {
  margin-top: 50%;
}

.add__button {
  background-color: black;
  color: white;
  width: 90%;
  border-radius: 10px;
  margin-bottom: 3%;
}

.gift__button {
  background-color: green;
  color: white;
  width: 90%;
  border-radius: 10px;
}

.column3 p {
  font-size: 14px;
}

.sharks {
  margin-top: 70px;
  background: url("./images/sharks.png");
  background-size: contain;
  height: 220px;
  width: 250px;
}

.ocean__container {
  height: 1500px;
}

.donate {
  background-color: green;
  color: white;
  padding: 4px;
  width: 30%;

  border-radius: 8px;
  position: absolute;
  margin-left: 60px;
  margin-top: 80px;
}

.donated {
  background-color: white;
  color: green;
  font-size: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-left: 101px;
  margin-bottom: -75px;
  margin-top: 20px;
  border: 1px solid green;
  padding: 5px;
}

.influencer__container {
  display: grid;
  grid-template-columns: 20fr 2fr 2fr 4fr;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  margin-top: 20%;
}

.panda {
  background: url("./images/panda.png");
}

.grizzly {
  background: url("./images/grizzly.jpg");
}

.smile {
  background: url("./images/smile.png");
}

.pink {
  background: url("./images/pink.png");
}

.more__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.more__items {
  background: url("./images/cream.png");
}

.more__caption {
  text-align: center;
  padding: 30px;
}

.frame {
  background-size: cover;
  height: 110px;
  width: 110px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}



.bar1 {
  background-color: #85D7D4;
  position: absolute;
  width: 160px;
  height: 20px;
  margin: 20px auto;
  border-radius: 20px;
  z-index: 1;
}

.bar2 {
  background-color: #F3F3F3;
  position: absolute;
  width: 250px;
  height: 20px;
  margin: 20px auto;
  border-radius: 20px;
}

.bar3 {
  background-color: green;
  position: absolute;
  width: 170px;
  height: 20px;
  margin: 20px auto;
  border-radius: 20px;
}

.thanks {
  background: url("./images/thanks.png");
  background-size: contain;
  margin: 10px auto;
  width: 260px;
  height: 170px;
}

.money {
  display: flex;
  justify-content: space-between;
  position: relative
}

.money p {
  font-size: 12px;
  margin-bottom: -20px;
}

.one {
  background: url("./images/one.jpg");
  background-size: contain;
}

.two {
  background: url("./images/two.jpg");
  background-size: contain;
}

.three {
  background: url("./images/five.jpg");
  background-size: contain;
}



.six {
  background: url("./images/six.jpg");
  background-size: contain;
}

.item__container {
  height: 1000px;
}

.ten {
  background: url("./images/ten.jpg");
  background-size: contain;
}